.navbar {
  padding: 30px;
}

.navbar-dark .navbar-brand {
  color: #be1c68;
  width: 100px;
  padding: 0px 10px;
  font-weight: 900;
  font-size: 3.1rem;
  letter-spacing: 3.6px;
}
.navbar-dark .navbar-brand:hover {
  text-shadow: 2px 2px #ff0000;
  transition: ease-in 0.15s;
}
@media (max-width: 768px) {
  .navbar-dark .navbar-brand {
    font-size: 2rem;
  }
}
.navbar-dark .navbar-nav {
  margin-top: 20px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e7165a;
  transition: ease-in 0.15s;
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:active,
.navbar-dark .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.homepage-whoami {
  height: 80vh;
  margin-top: 8rem;
}
@media (max-width: 1200px) {
  .homepage-whoami {
    height: 60vh;
  }
}
@media (max-width: 992px) {
  .homepage-whoami {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .homepage-whoami {
    height: 30vh;
  }
}
@media (max-width: 576px) {
  .homepage-whoami {
    height: 20vh;
  }
}

.whoami-name {
  color: white;
}
.whoami-name h1 {
  font-family: "Raleway", sans-serif;
  font-size: 75px;
  margin-bottom: 2rem;
}
@media (max-width: 1400px) {
  .whoami-name h1 {
    font-size: 60px;
    margin-bottom: 2.3;
  }
}
@media (max-width: 1200px) {
  .whoami-name h1 {
    font-size: 55px;
    margin-bottom: 2.3;
  }
}
@media (max-width: 992px) {
  .whoami-name h1 {
    font-size: 2.9rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .whoami-name h1 {
    font-size: 2rem;
  }
}
.whoami-name span {
  color: #e7165a;
}
.whoami-name a {
  color: #be1c68;
  font-size: 1.8rem;
  text-decoration: none;
}
.whoami-name a svg::hover {
  fill: red;
}
.whoami-name a .whoami-svg {
  width: 2.8rem;
}
@media (max-width: 992px) {
  .whoami-name a .whoami-svg {
    width: 2.5rem;
  }
}
@media (max-width: 576px) {
  .whoami-name a .whoami-svg {
    width: 2rem;
  }
}
@media (max-width: 992px) {
  .whoami-name a {
    display: none;
  }
}
@media (max-width: 992px) {
  .whoami-name {
    text-align: center;
  }
}
.whoami-name::after {
  position: absolute;
  top: 40%;
  left: 5%;
  content: "</>";
  color: #818181;
  font-size: 18vw;
  font-weight: bold;
  opacity: 0.11;
}
@media (max-width: 1400px) {
  .whoami-name::after {
    top: 55%;
  }
}
@media (max-width: 1200px) {
  .whoami-name::after {
    top: 50%;
  }
}
@media (max-width: 992px) {
  .whoami-name::after {
    top: 35%;
    left: 15%;
  }
}
@media (max-width: 768px) {
  .whoami-name::after {
    display: none;
  }
}

.whoami-text code .code-ptag {
  margin-left: 2rem;
}
@media (max-width: 1200px) {
  .whoami-text code .code-ptag {
    margin-left: 1.5rem;
  }
}
.whoami-text code .code-p {
  margin-left: 4rem;
}
@media (max-width: 1200px) {
  .whoami-text code .code-p {
    margin-left: 3rem;
  }
}
@media (max-width: 768px) {
  .whoami-text code .code-p {
    margin: 0 auto;
  }
}
.whoami-text code .code-ptag,
.whoami-text code .code-divtag {
  color: #522b86;
}
@media (max-width: 992px) {
  .whoami-text code .code-ptag,
.whoami-text code .code-divtag {
    display: none;
  }
}
.whoami-text code .tag-class {
  color: #8e2375;
}
.whoami-text code .tag-class--name {
  color: #be1c68;
}
@media (max-width: 992px) {
  .whoami-text code {
    text-align: center;
  }
}
.whoami-text code p {
  border-right: 0.15em solid transparent;
  color: white;
  display: block;
  font-size: 25px;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}
@media (max-width: 1400px) {
  .whoami-text code p {
    font-size: 1.3rem;
  }
}
@media (max-width: 1200px) {
  .whoami-text code p {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .whoami-text code p {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .whoami-text code p {
    font-size: 1rem;
    white-space: normal;
  }
}

body {
  background-color: #1d1b24;
  color: white;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
