.navbar {
  padding: 30px;
}

.navbar-dark .navbar-brand {
  color: #be1c68;
  width: 100px;
  padding: 0px 10px;
  font-weight: 900;
  font-size: 3.1rem;
  letter-spacing: 3.6px;
}
.navbar-dark .navbar-brand:hover {
  text-shadow: 2px 2px #ff0000;
  transition: ease-in 0.15s;
}
@media (max-width: 768px) {
  .navbar-dark .navbar-brand {
    font-size: 2rem;
  }
}
.navbar-dark .navbar-nav {
  margin-top: 20px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e7165a;
  transition: ease-in 0.15s;
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
}
.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:active,
.navbar-dark .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.homepage-whoami {
  height: 80vh;
  margin-top: 8rem;
}
@media (max-width: 1200px) {
  .homepage-whoami {
    height: 60vh;
  }
}
@media (max-width: 992px) {
  .homepage-whoami {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .homepage-whoami {
    height: 30vh;
  }
}
@media (max-width: 576px) {
  .homepage-whoami {
    height: 20vh;
  }
}

.whoami-name {
  color: white;
}
.whoami-name h1 {
  font-family: "Raleway", sans-serif;
  font-size: 75px;
  margin-bottom: 2rem;
}
@media (max-width: 1400px) {
  .whoami-name h1 {
    font-size: 60px;
    margin-bottom: 2.3;
  }
}
@media (max-width: 1200px) {
  .whoami-name h1 {
    font-size: 55px;
    margin-bottom: 2.3;
  }
}
@media (max-width: 992px) {
  .whoami-name h1 {
    font-size: 2.9rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .whoami-name h1 {
    font-size: 2rem;
  }
}
.whoami-name span {
  color: #e7165a;
}
.whoami-name a {
  color: #be1c68;
  font-size: 1.8rem;
  text-decoration: none;
  position: relative;
  z-index: 10;
}
.whoami-name a svg::hover {
  fill: red;
}
.whoami-name a .whoami-svg {
  width: 2.8rem;
}
@media (max-width: 992px) {
  .whoami-name a .whoami-svg {
    width: 2.5rem;
  }
}
@media (max-width: 576px) {
  .whoami-name a .whoami-svg {
    width: 2rem;
  }
}
@media (max-width: 992px) {
  .whoami-name a {
    display: none;
  }
}
@media (max-width: 992px) {
  .whoami-name {
    text-align: center;
  }
}
.whoami-name::after {
  position: absolute;
  top: 40%;
  left: 5%;
  content: "</>";
  color: #818181;
  font-size: 18vw;
  font-weight: bold;
  opacity: 0.11;
}
@media (max-width: 1400px) {
  .whoami-name::after {
    top: 55%;
  }
}
@media (max-width: 1200px) {
  .whoami-name::after {
    top: 50%;
  }
}
@media (max-width: 992px) {
  .whoami-name::after {
    top: 35%;
    left: 15%;
  }
}
@media (max-width: 768px) {
  .whoami-name::after {
    display: none;
  }
}

.whoami-text code .code-ptag {
  margin-left: 2rem;
}
@media (max-width: 1200px) {
  .whoami-text code .code-ptag {
    margin-left: 1.5rem;
  }
}
.whoami-text code .code-p {
  margin-left: 4rem;
}
@media (max-width: 1200px) {
  .whoami-text code .code-p {
    margin-left: 3rem;
  }
}
@media (max-width: 768px) {
  .whoami-text code .code-p {
    margin: 0 auto;
  }
}
.whoami-text code .code-ptag,
.whoami-text code .code-divtag {
  color: #522b86;
}
@media (max-width: 992px) {
  .whoami-text code .code-ptag,
.whoami-text code .code-divtag {
    display: none;
  }
}
.whoami-text code .tag-class {
  color: #8e2375;
}
.whoami-text code .tag-class--name {
  color: #be1c68;
}
@media (max-width: 992px) {
  .whoami-text code {
    text-align: center;
  }
}
.whoami-text code p {
  border-right: 0.15em solid transparent;
  color: white;
  display: block;
  font-size: 25px;
  margin-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}
@media (max-width: 1400px) {
  .whoami-text code p {
    font-size: 1.3rem;
  }
}
@media (max-width: 1200px) {
  .whoami-text code p {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .whoami-text code p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .whoami-text code p {
    font-size: 1.3rem;
    white-space: normal;
  }
}
@media (max-width: 576px) {
  .whoami-text code p {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .whoami-text code p:nth-child(1) {
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end 1.5;
  }
  .whoami-text code p:nth-child(2) {
    opacity: 0;
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end 0.8, slidein 1s ease 3.5s forwards;
    animation-delay: 0.9s;
  }
  .whoami-text code p:nth-child(3) {
    opacity: 0;
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end 1.6, slidein 1s ease 3.5s forwards;
    animation-delay: 1.6s;
  }
  .whoami-text code p:nth-child(4) {
    display: inline-block;
    opacity: 0;
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end 1.5, slidein 1s ease 3.5s forwards;
    animation-delay: 2.9s;
  }
  .whoami-text code p:nth-child(6) {
    opacity: 0;
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end 1.5, slidein 1s ease 3.5s forwards;
    animation-delay: 3.7s;
  }
  .whoami-text code p:nth-child(7) {
    opacity: 0;
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end 0.3, slidein 1s ease 3.5s forwards;
    animation-delay: 4.7s;
  }
  .whoami-text code p:nth-child(8) {
    display: inline-block;
    opacity: 0;
    animation: typing 1.2s steps(40, end), blink-caret 0.75s step-end infinite, slidein 1s ease 3.5s forwards;
    animation-delay: 5s;
  }
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes slidein {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.75);
  }
}
.project-section-header {
  color: white;
}
.project-section-header::before {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #818181;
  font-size: 7.5vw;
  font-weight: bolder;
  opacity: 0.11;
  letter-spacing: 3px;
  clear: both;
  text-shadow: 10px 10px 2px black;
  content: "<projects>";
}
@media (max-width: 768px) {
  .project-section-header::before {
    font-size: 10vw;
    margin: 1.6rem 0;
  }
}
@media (max-width: 576px) {
  .project-section-header::before {
    font-size: 12vw;
  }
}

.project {
  position: relative;
  width: 50%;
  cursor: pointer;
  margin-bottom: 3.5rem;
}
@media (max-width: 768px) {
  .project {
    margin: 2rem auto;
    width: 80%;
  }
}
.project:hover .project-img {
  opacity: 0.02;
  transition: 0.4s ease;
}
.project .project-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.2s ease;
}
.project:hover .project-overlay {
  bottom: 0;
  height: 100%;
}
.project .project-info {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 992px) {
  .project .project-info {
    top: 60%;
  }
}
@media (max-width: 992px) {
  .project .project-info .info--name {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .project .project-info .info--name {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .project .project-info .info--name {
    font-size: 1rem;
  }
}

.project-bar {
  background-color: #ddd;
  height: 30px;
  z-index: 10;
}
.project-bar i {
  height: 14px;
  width: 14px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 45px;
}
@media (max-width: 576px) {
  .project-bar i {
    left: 30px;
  }
}
.project-bar i::before {
  content: " ";
  left: 23px;
  background-color: #ffbd2e;
  top: 0;
}
.project-bar i::before {
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}
.project-bar i::after {
  content: " ";
  left: 46px;
  background-color: #28ca41;
  top: 0;
}
.project-bar i::after {
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}

.project-btn {
  border-color: #e7165a;
  color: #e7165a;
  margin: 1.2rem 0rem 0rem 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: ease-out 0.3s;
}
.project-btn:hover {
  background-color: white;
  color: #e7165a;
}
@media (max-width: 1200px) {
  .project-btn {
    font-size: 1.2rem;
  }
}
@media (max-width: 992px) {
  .project-btn {
    margin-top: 1rem;
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .project-btn {
    margin: 0.9rem 0rem 0rem 1rem;
  }
}
@media (max-width: 480px) {
  .project-btn {
    font-size: 0.7rem;
    margin: 0.5rem 0rem 0rem 0.7rem;
  }
}

.project-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.1s ease;
  box-shadow: 10px 10px black;
}

.skills-section {
  color: white;
  text-align: center;
  margin-bottom: 5rem;
}
.skills-section .skills-header::before {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #818181;
  font-size: 7.5vw;
  font-weight: bolder;
  opacity: 0.11;
  letter-spacing: 3px;
  clear: both;
  text-shadow: 10px 10px 2px black;
  content: "<skills>";
}
@media (max-width: 768px) {
  .skills-section .skills-header::before {
    font-size: 10vw;
    margin: 1.6rem 0;
  }
}
@media (max-width: 576px) {
  .skills-section .skills-header::before {
    font-size: 12vw;
  }
}
.skills-section .skills-group {
  margin-bottom: 1.7rem;
}
.skills-section .skill {
  cursor: pointer;
  font-size: 3.7rem;
  filter: drop-shadow(7px 7px black);
  padding: 1rem;
}
.skills-section .skill:hover {
  color: #be1c68;
  transition: ease-in 0.15s;
}
@media (max-width: 768px) {
  .skills-section .skill {
    font-size: 2.9rem;
    padding: 0.4rem;
  }
}
@media (max-width: 576px) {
  .skills-section .skill {
    font-size: 1.8rem;
  }
}

.tooltip .tooltip-inner {
  color: #be1c68;
  padding: 30px 20px;
  font-size: 1.3rem;
  font-weight: 900;
  width: 9.5rem;
}
@media (max-width: 576px) {
  .tooltip .tooltip-inner {
    font-size: 1rem;
    width: 8rem;
    padding: 20px 10px;
  }
}
@media (max-width: 480px) {
  .tooltip .tooltip-inner {
    font-size: 0.8rem;
    width: 6rem;
    padding: 10px 5px;
  }
}

body {
  background-color: #1d1b24;
  color: white;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
