@use './variables' as *;

@mixin sectionsStyles {
  margin-bottom: 4.5rem;
  @media (max-width: $md-screen) {
    margin-bottom: 2rem;
  }
}

@mixin sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $gray;
  font-size: 7.5vw;
  font-weight: bolder;
  opacity: 0.11;
  letter-spacing: 3px;
  clear: both;
  text-shadow: 10px 10px 2px black;
  margin-bottom: 2rem;
  @media (max-width: $md-screen) {
    font-size: 10vw;
    margin: 1rem 0;
  }
  @media (max-width: $sm-screen) {
    font-size: 12vw;
    text-shadow: 6px 6px 1px black;
  }
}
