$ruby: #e7165a;
$rose-red: #be1c68;
$deep-purple: #8e2375;
$ksu-purple: #522b86;
$pigment-blue: #333290;
$baltic-sea: #1d1b24;
$gray: #818181;
$light-gray: #d8d5d5;

$xxl-screen: 1400px;
$xl-screen: 1200px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;
$xs-screen: 480px;
