@use 'abstracts/variables' as *;
@use './layouts/navbar';
@use './layouts/whoami';
@use './layouts/project-section';
@use './layouts/project-details';
@use './layouts/skills-section';
@use './layouts/contact-section';
@use './layouts/footer';

body {
  background-color: $baltic-sea;
  color: white;
  font-family: "Roboto", sans-serif;
}
