@use '../abstracts/variables' as *;
@use "../abstracts/mixins" as *;

.project-section-header {
  color: white;
  &::before {
    @include sectionHeader;
    content: "<projects>";
  }
}
.project {
  position: relative;
  cursor: pointer;
  margin-bottom: 3.5rem;
  @media (max-width: $md-screen) {
    margin: 2rem auto;
    width: 85%;
  }
  @media (max-width: $sm-screen) {
    margin-bottom: 1.5rem;
  }

  &:hover .project-img {
    opacity: 0.02;
    transition: 0.4s ease;
  }
  .project-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.2s ease;
  }

  &:hover .project-overlay {
    bottom: 0;
    height: 100%;
  }
  .project-info {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    @media (max-width: $lg-screen) {
      top: 60%;
    }
    .info--name {
      @media (max-width: $lg-screen) {
        font-size: 1.4rem;
      }
      @media (max-width: $sm-screen) {
        font-size: 1.2rem;
      }
      @media (max-width: $xs-screen) {
        font-size: 1rem;
      }
    }
  }
}

.project-bar {
  background-color: #ddd;
  height: 30px;
  z-index: 10;
  i {
    height: 14px;
    width: 14px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 45px;
    @media (max-width: $sm-screen) {
      left: 30px;
    }
    &::before {
      content: " ";
      left: 23px;
      background-color: #ffbd2e;
      top: 0;
    }
    &::before {
      height: 14px;
      width: 14px;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
    }
    &::after {
      content: " ";
      left: 46px;
      background-color: #28ca41;
      top: 0;
    }
    &::after {
      height: 14px;
      width: 14px;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
    }
  }
}

.project-btn {
  border-color: $ruby;
  color: $ruby;
  margin: 1.2rem 0rem 0rem 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: ease-out 0.3s;
  &:hover {
    background-color: white;
    color: $ruby;
  }
  @media (max-width: $xl-screen) {
    font-size: 1.2rem;
  }
  @media (max-width: $lg-screen) {
    margin-top: 1rem;
    margin-bottom: 0px;
  }
  @media (max-width: $sm-screen) {
    margin: 0.9rem 0rem 0rem 1rem;
  }
  @media (max-width: $xs-screen) {
    font-size: 0.7rem;
    margin: 0.5rem 0rem 0rem 0.7rem;
  }
}

.project-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.1s ease;
  box-shadow: 10px 10px black;
}
