@use "../abstracts/variables" as *;

.homepage-whoami {
  height: 80vh;
  margin-top: 8rem;
  @media (max-width: $xl-screen) {
    height: 60vh;
  }
  @media (max-width: $lg-screen) {
    height: 50vh;
  }
  @media (max-width: $md-screen) {
    height: 30vh;
  }
  @media (max-width: $sm-screen) {
    height: 20vh;
  }
}
.whoami-name {
  color: white;
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 75px;
    margin-bottom: 2rem;

    @media (max-width: $xxl-screen) {
      font-size: 60px;
      margin-bottom: 2.3;
    }
    @media (max-width: $xl-screen) {
      font-size: 55px;
      margin-bottom: 2.3;
    }
    @media (max-width: $lg-screen) {
      font-size: 2.9rem;
      text-align: center;
    }
    @media (max-width: $sm-screen) {
      font-size: 2rem;
    }
  }
  span {
    color: $ruby;
  }
  a {
    color: $rose-red;
    font-size: 1.8rem;
    text-decoration: none;
    svg {
      &::hover {
        fill: red;
      }
    }
    .whoami-svg {
      width: 2.8rem;
      @media (max-width: $lg-screen) {
        width: 2.5rem;
      }
      @media (max-width: $sm-screen) {
        width: 2rem;
      }
    }
    @media (max-width: $lg-screen) {
      display: none;
    }
  }
  @media (max-width: $lg-screen) {
    text-align: center;
  }

  &::after {
    position: absolute;
    top: 40%;
    left: 5%;
    content: "</>";
    color: $gray;
    font-size: 18vw;
    font-weight: bold;
    opacity: 0.11;
    @media (max-width: $xxl-screen) {
      top: 55%;
    }
    @media (max-width: $xl-screen) {
      top: 50%;
    }
    @media (max-width: $lg-screen) {
      top: 35%;
      left: 15%;
    }
    @media (max-width: $md-screen) {
      display: none;
    }
  }
}

.whoami-text {
  code {
    .code-ptag {
      margin-left: 2rem;
      @media (max-width: $xl-screen) {
        margin-left: 1.5rem;
      }
    }
    .code-p {
      margin-left: 4rem;
      @media (max-width: $xl-screen) {
        margin-left: 3rem;
      }
      @media (max-width: $md-screen) {
        margin: 0 auto;
      }
    }
    .code-ptag,
    .code-divtag {
      color: $ksu-purple;
      @media (max-width: $lg-screen) {
        display: none;
      }
    }
    .tag-class {
      color: $deep-purple;
    }
    .tag-class--name {
      color: $rose-red;
    }
    @media (max-width: $lg-screen) {
      text-align: center;
    }
    p {
      border-right: 0.15em solid transparent;
      color: white;
      display: block;
      font-size: 25px;
      margin-bottom: 1rem;
      overflow: hidden;
      white-space: nowrap;
      width: auto;
      @media (max-width: $xxl-screen) {
        font-size: 1.3rem;
      }
      @media (max-width: $xl-screen) {
        font-size: 1.1rem;
      }
      @media (max-width: $lg-screen) {
        margin-bottom: 0;
      }
      @media (max-width: $md-screen) {
        font-size: 1rem;
        white-space: normal;
      }
    }
  }
}
